<table border=1>
  <tr>
    <th>Title</th>
    <th>Balance</th>
    <th>Rate</th>
    <th>Payment</th>
    <th>Interest</th>
  </tr>
  <% loans.each do |loan| %>
    <tr>
      <td><%= loan[:title] %></td>
      <td><%= loan[:balance] %></td>
      <td><%= loan[:rate] %></td>
      <td><%= loan[:payment] %></td>
      <td><%= loan[:interest] %></td>
    </tr>
  <% end %>
</table>

<hr>

<table border=1>
  <tr>
    <th>Title</th>
    <th>Balance</th>
    <th>Rate</th>
    <th>Payment</th>
    <th>Interest</th>
    <th>Extra payments</th>
    <th>Repaid month number</th>
  </tr>
  <% avaloans.sort_by {|a| [a[:rate], a[:title], a[:balance]] }.reverse.each do |loan| %>
    <tr>
      <td><%= loan[:title] %></td>
      <td><%= loan[:balance] %></td>
      <td><%= loan[:rate] %>%</td>
      <td><%= loan[:payment] %></td>
      <td><%= loan[:interest] %></td>
      <td><%= loan[:extra_payment] %></td>
      <td><%= Chronic.parse("#{loan[:month_number]} months from now").to_time.strftime("%m/%Y") %> (<%= loan[:month_number] %> months from now)</td>
    </tr>
  <% end %>
</table>
